/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Comfortaa', cursive; */

body,html {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
}

#background{
    background-image: url('https://npatel023.github.io/RestaurantWebsite/img/main.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.text {
    position: absolute;
    top: 50vh;
    width: 100%;
    text-align: center;
    color: #FFBAAA;
    font-size: 1rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #111;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3; 
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #F7D1BB;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #CD5043;
}

/* Dropdown Menu */
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #F7D1BB;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Dropdown Menu End */

.section {
    background-color: #fff;
    height: 100%;
}

.section-img {
    min-height: 600px;
    position: relative;
}

#food-menu-bg {
    background-image: url('https://npatel023.github.io/RestaurantWebsite/img/foodmenu.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text .border, .border {
    background: #111;
    border-radius: 4px;
    padding: 20px;
}

.menu-text .border {
    background: #EC7063;
}

.menu-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #111;
    font-size: 1rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.flex-item {
    padding: 20px 30px;
}

.Menu-title {
    color: #000;
    font-weight: 400;
    font-size: 2.5rem;
    padding-bottom: 10px;
    border-bottom: 3px solid #AA4F39;
    margin: 1.8rem 0;
}

#Note {
    color: #373434;
}

.Menu-item {
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

.description {
    font-weight: 400;
    font-size: 1rem;
    text-transform: lowercase;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.menu-price {
    float: right;
}

.options {
    font-weight: 300;
    font-size: 1.2rem;
}

.entrees-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
}

.entree-choices{
    text-align: left;
}

#yourchoices{
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    width: 100% !important;
    font-family: 'Raleway', sans-serif !important;
}

#desktop{
    display: none;
}

.pointer{
    cursor: pointer;
}

/* Hours Popup display */
.popup{
    display: none;
    position: absolute;
    margin-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #111;
    border-radius: 5px;
    z-index: 1;
}

.popup .popup-text{
    color: #FFBAAA;
    padding: 0 10px;
    font-size: 15px; 
    text-align: center;   
}

.show{
    display: block;
    width: 300px;
    left: 10px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.hours-popup{
    color: #FAFAFA !important;
}
/* Hours Popup display end */

#restaurant-information{
    background: #361D1A;
    color: #eee;
    height: 100%;
}

.contact-container{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.contact-item{
    padding-bottom: 30px;
}

.contact-header{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #D3CAC8;
    text-align: center;
}

.contact-header:nth-child(1){
    padding-top: 30px;
}

.address-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #eee;
}

.address-text{
    padding-left: 10px; 
    line-height: 25px; 
    position: relative;
}

.restaurant-title{
    position: absolute; 
    width: 100%;
    top: -5px;
    font-size: 1rem;
    font-weight: bold;
    color: #FFBAAA;
}

.large{
    font-size: 2rem;
    padding-top: 0.7rem;
}

i:hover{
    color: #1C2833;
}

.hours{
    color: #F7D1BB;
    font-weight: 600;
    text-align: center;
}

.hours-text{
    text-align: center;
    line-height: 25px;
}

.contact-item:nth-child(2){
    padding-left: 12px !important;
}
.contact-item:nth-child(3){
    text-align: center;
}

.tel{
    text-decoration: none;
    color: #F7D1BB;
    font-weight: 400;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media(min-width: 500px){
    .text, .menu-text{
        font-size: 2rem;
    }
}

@media(min-width: 768px){
    .text, .menu-text{
        font-size: 2.5rem;
    }
    .contact-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
    .contact-item:nth-child(2){
        border-left: 2px solid #000;
        padding-left: 5px;
    }
    .contact-item:nth-child(3){
        border-left: 2px solid #000;
    }
    a[href="tel:1-217-726-6890"]{
        pointer-events: none;
    }
}

@media(min-width: 1024px){  
    .menu-grid{
        grid-template-columns: 1fr 1fr;
    }
    .Menu-item{
        width: 90%;
    }
    .entrees-grid{
        grid-template-columns: 1fr 1fr;
    }
    .entree-choices{
        grid-column: 1;
        grid-row: 1 / span 10;
        padding: 20px 50px;
        margin: auto 0;
        margin-left: 1.7rem;
        border: 3px solid black;
        height: 400px;
        width: 350px;
    }
    #desktop{
        display:block;
    }
    #mobile{
        display: none;
    }
}

@media(min-width: 1200px){
    /* .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content a:hover {
        background-color: rgba(205,80,67,0.3);
    }   */
    .menu-grid{
        grid-template-columns: 1fr 1fr;
    }
    .entrees-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }
    .entree-choices{
        grid-row: 1 / span 6;
        padding: 20px 60px;
        margin-left: 0;
        width: 415px;
    }
}